html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:#666666; 
    height: 100%;
    background: url(../images/bg.jpg) no-repeat 0 0 transparent;
    background-size: cover;
    background-attachment: fixed;
    &::after {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(221, 221, 221, 0.85);
        content: "";
        z-index: -1;
        height:100%;
    }
}
.main-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    
}

.form{
    width:100%;
    &__title{
        text-align:center;
        padding: 0.5rem 0 1rem;
    }
    &__field{
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: calc(1.5em + .75rem + 2px); 
        padding: .375rem .75rem;
        margin: 0.75rem 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5; 
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0px!important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &::placeholder,
        &:disabled {
            color: #ccc;
            font-size: .9em; 
          }
        &.invalid:invalid{
            border: 1px solid #fc9999; 
        }
    } 
} 
.error {
    font-size: 0.75rem;
    color: #ff4040;
}
.btn{
    display: flex;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    margin: 2rem auto 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #5798dd;
    border-color: #007bff;
}
.btn-row{
    display: flex;
}
.step{
    display: none;
    width:100%;
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto;
    background-color: #ffffff;
}

.result-form{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding:1vw;
    .col-key{
        font-weight: bold;
        width:40%;
        padding:1vw;
    }
    .col-value{
        width:60%;
        padding:1vw;
        overflow-wrap: break-word;
    }
}

